<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Travel Planner</title>
  <link rel="stylesheet" href="./styles/style.scss">
  <link rel="stylesheet" href="./styles/header.scss">
  <link rel="stylesheet" href="./styles/footer.scss">
  <link rel="stylesheet" href="./styles/results.scss">
</head>

<body>

  <header id="header">
    <span id="title">Travel Planner</span>
  </header>

  <div id="content-container">
    <div id="form-container">
      <label for="city" id="city-label">where:</label>
      <input type="text" id="city" placeholder="Paris">
      <label for="date-from" id="date-from-label">from:</label>
      <input type="date" id="date-from"></textarea>
      <label for="date-to" id="date-to-label">to:</label>
      <input type="date" id="date-to"></textarea>
      <img src="../../../dist/3c3423d1896bddee963f8bd4cd293662.png" id="generate">
    </div>

    <div id="results">
      <div class="title">my trips:</div>
      <div id="trip-container">
        <div class="trip">
          <div class="trip-header">
            <p class="trip-title">My trip to Wro</p>
            <p class="trip-title">Departing: 11/05/2020</p>
            <button class="remove">X</button>
          </div>
          <p class="trip-details">Wro is in 365 days</p>
          <p class="trip-details">Typical weather for then is: cloudy, temperature: 20.7</p>
          <img src="https://pixabay.com/get/53e0d3414951af14f6da8c7dda793678173fdee05b596c4870277cd39444c750bd_1280.jpg" class="trip-photo">
          <p class="trip-details-end">* * *</p>
        </div>
      </div>
    </div>
  </div>

<footer id="footer">
  <p>Background <a href="http://www.freepik.com">designed by Freepik</a></p>
</footer>

<script src="../../../dist/main.js" type="text/javascript"></script>

</body>
</html>