<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Travel Planner</title>
  <link rel="stylesheet" href="./styles/style.scss">
  <link rel="stylesheet" href="./styles/header.scss">
  <link rel="stylesheet" href="./styles/footer.scss">
  <link rel="stylesheet" href="./styles/results.scss">
</head>

<body>

  <header id="header">
    <span id="title">Travel Planner</span>
  </header>

  <div id="content-container">
    <div id="form-container">
      <label for="city" id="city-label">where:</label>
      <input type="text" id="city" value="Wroclaw">
      <label for="date-from" id="date-from-label">from:</label>
      <input type="date" id="date-from"></textarea>
      <label for="date-to" id="date-to-label">to:</label>
      <input type="date" id="date-to"></textarea>
      <img src="../../../dist/3c3423d1896bddee963f8bd4cd293662.png" id="generate">
    </div>

    <div id="results">
      <div class="title">my trips:</div>
      <div id="trip-container"></div>
    </div>
  </div>

<footer id="footer">
  <p>Background <a href="http://www.freepik.com">designed by Freepik</a></p>
</footer>

<script src="../../../dist/main.js" type="text/javascript"></script>
<script>
  // Check that service workers are supported
  if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
      });
  }
</script>
</body>
</html>