@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

#header {
    margin: 0;
    top: 0;
    width: 100vw;
    background: #71CACE;
    display: flex;
}

#title {
    color: #F05656;
    font-family: 'Leckerli One', cursive;
    font-size: 70px;
    margin: auto;
}