body{
    background: #71CACE;
    background-size: 40em;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 100px;
    background-image: url(../media/holiday.jpg);
    // for now
    height: 300vh;
}

#form-container {
    width: 45vw;
    margin-left: 49vw;
    margin-top: 50px;
    display: grid;
    grid-template-rows: 30px 50px;
    grid-gap: 10px;
    grid-template-areas:
    "tl tm tr"
    "bl bm br";
}

label {
    font-family: 'Shadows Into Light', cursive;
    font-size: 25px;
    color: #F15757;

    &#city-label {
        grid-area: tl;
    }

    &#date-label {
        grid-area: tm;
    }
}

input {
    height: 40px;
    width: 200px;
    background: #fff;
    color: #f0d43a;
    font-family: 'Shadows Into Light', cursive;
    font-size: 25px;
    padding: 5px;
    border: 0;

    &#city {
        grid-area: bl;
    }

    &#trip-date {
        grid-area: bm;
    }
}

#generate {
    grid-area: br;
    height: 50px;
    margin-left: -20px;
    margin-top: 5px;
    opacity: 0.9;

    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}

::placeholder { /* Firefox, Chrome, Opera */ 
    font-family: 'Shadows Into Light', cursive;
    color: #f0d43a;
} 


//RESULTS for tests
#results {
    position: fixed;
    top: 200px;
    left: 40px;
    display: none;
}

#date{
    font-size: 15px;
    padding: 10px;
    background-color:green;
}

#temp{
    font-size: 15px;
    padding: 10px;
    background-color:yellow;
}

#content{
    font-size: 15px;
    padding: 10px;
    background-color:red;
}
//END OF RESULTS