@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

body{
    background: #71CACE;
    background-size: 40em;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 100px;
    background-image: url(../media/holiday.jpg);
    height: auto;
}

#content-container {
    margin-left: 50vw;
    margin-top: 5vh;
    width: 45vw;
    height: 80vh;
    display: grid;
    overflow: visible;
    grid-template-columns: 45vw;
    grid-template-rows: 200px auto;
    grid-template-areas:
    "form"
    "results";

    #form-container {
        grid-area: form;
        display: grid;
        grid-template-rows: 30px 50px;
        grid-gap: 10px;
        grid-template-areas:
        "tl tm1 tm2 tr"
        "bl bm1 bm2 br";
    }
    
    label {
        font-family: 'Leckerli One', cursive;
        font-size: 25px;
        color: #F15757;
    
        &#city-label {
            grid-area: tl;
        }
    
        &#date-from-label {
            grid-area: tm1;
        }
    
        &#date-to-label {
            grid-area: tm2;
        }
    }
    
    input {
        height: 40px;
        width: 160px;
        background: #fff;
        color: rgb(44, 42, 42);
        font-family: 'Coming Soon', cursive;
        font-size: 20px;
        padding: 5px;
        border: 0;
    
        &#city {
            grid-area: bl;
            width: 120px;
        }
    
        &#date-from {
            grid-area: bm1;
        }
    
        &#date-to {
            grid-area: bm2;
        }
    }
    
    #generate {
        grid-area: br;
        height: 40px;
        margin-left: 0;
        margin-top: 8px;
        opacity: 1;
    
        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
}

// for tablet
@media(min-width: 650px) and (max-width: 1100px) {

    #content-container {
        margin-left: 30vw;
        width: 60vw;
    
        #form-container {
            grid-area: form;
            margin-left: -100px;
            display: grid;
            grid-template-rows: 30px 50px;
            grid-gap: 10px;
            grid-template-areas:
            "tl tm1 tm2"
            "bl bm1 bm2"
            "bb bb bb";
        }
        
        label {
            font-size: 25px;
        }
        
        input {
            font-size: 18px;
        }
        
        #generate {
            grid-area: bb;
            height: 40px;
            margin: auto;
            opacity: 1;
        }

        #results {
            font-size: 25px;

            .title {
                margin-left: -100px;
            }

            #trip-container {
                margin-left: -100px;
            }
        
            .trip {
        
                .trip-header {
        
                    .trip-title {
                        font-size: 20px;
                    }
                }

                .trip-details {
                    font-size: 17px;
                }
        
                .trip-photo {
                    min-width: 50vw; 
                    height: auto;
                    grid-area: ph;
                }
            }
        }
    }
}

// for mobile
@media(max-width: 650px) {
    #content-container {
        margin-left: 30vw;
        width: 60vw;
    
        #form-container {
            grid-area: form;
            margin-left: -100px;
            display: grid;
            grid-template-rows: 30px 50px;
            grid-gap: 10px;
            grid-template-areas:
            "tl tm1 tm2"
            "bl bm1 bm2"
            "bb bb bb";
        }
        
        label {
            font-size: 25px;
        }
        
        #generate {
            grid-area: bb;
            height: 40px;
            margin: auto;
            opacity: 1;
        
            &:hover {
                opacity: 0.8;
                cursor: pointer;
            }
        }

        #results {
            grid-area: results;
            font-size: 25px;

            .title {
                margin-left: -100px;
            }

            #trip-container {
                margin-left: -100px;
            }
        
            .trip {
                display: flex;
                flex-direction: column;

                .trip-details {
                    font-size: 14px;
                }
            }
        }
    }
}